body{
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: #FFFFFA;
  height: 100%;
}

html{
  height: 100%
}


h1{
  font-stretch: expanded;
  font-weight: bolder;
  text-transform: uppercase;
  color: #3A606E;
  text-align: center;
  padding: 10px 0 5px 0;
}

h1 span {
   padding: 10px;
   position: absolute;
   left: 0;
   top: 550px;
   text-align: left;
   background-color: #FFFFFA;
}

p{
  font-size: .9em;
  line-height: 1.5;
}

h2{
  text-transform: uppercase;
  color: #3A606E;
  text-align: center;
}

input:focus{
	background-color:lightgrey;
}

form{
  display: grid;
  grid-row: 4;
  grid-column: 2;
}

fieldset{
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border: 2px groove black;
}

form input[type=text] {
  width: 200px;
  border: 1px solid black;
  margin: 4px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

form input[type=email] {
  width: 200px;
  border: 1px solid black;
  margin: 4px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

form input[type=text]:focus {
  width: 100%;
}

form input[type=email]:focus {
  width: 100%;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition:0;
  transition:0;
  z-index: 1;
}

.skip a:focus{
  position: absolute;
  top: 0;
}

header{
  font-stretch: expanded;
  font-weight: bolder;
  text-transform: uppercase;
  color: #3A606E;
  font-size: 1.7em;
  text-align: center;
  padding: 10px 0 10px 0;
}

.nav-bar{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

nav ul{
  list-style-type: none;
  text-align: end;
}

nav li{
  display: inline-block;
  padding: 0 5px 3px 5px;
  text-transform: lowercase;
}

nav a{
  color: #3A606E;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover{
  text-decoration: underline;
}

.active{
  text-decoration: underline;
}

footer{
  background-color: #3A606E;
  margin: 15px -30px -100px;
  padding: 20px 40px;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p{
  color: white;
  text-align: center;
}

*:focus{
  border: 2px solid black;
}

.main{
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 2fr .2fr 2fr .2fr 2fr .2fr;
  row-gap: 2px;
  justify-content: center;
}

.main img{
   width: 100%;
   height: 100%;
 }

.breakfast-madison-image{
  grid-column: 1 / span 1;
  grid-row: 1;
}

.breakfast-madison-text{
  grid-column: 1 / span 1;
  grid-row: 2;
  justify-self: center;
}

.breakfast-madison-text a{
  text-decoration: none;
}

.mexican-annarbor-image{
  grid-column: 1 / span 1;
  grid-row: 3;
  overflow: hidden;
}

.mexican-annarbor-text{
  grid-column: 1 / span 1;
  grid-row: 4;
  justify-self: center;
}

.mexican-annarbor-text a{
  text-decoration: none;
}

.recipe-image{
  grid-column: 1 / span 1;
  grid-row: 5;
}

.recipe-text{
  grid-column: 1 / span 1;
  grid-row: 6;
  justify-self: center;
}

.recipe-text a{
  text-decoration: none;
}

.travel-container{
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 2fr 2fr;
  row-gap: 35px;
  justify-content: center;
}

.travel-container img{
   width: 100%;
   height: 100%;
}

.travel-container p{
   text-align: center;
}

.mexican-ann-arbor{
  grid-column: 1;
  grid-row: 1;
}

.breakfast-madison{
  grid-column: 1;
  grid-row: 2;
}

.muffin-container{
  display: grid;
  grid-template-columns: 20px auto 20px;
  grid-template-rows: .1fr .1fr 1fr 1fr;
  row-gap: 20px;
  justify-content: center;
}

.muffin-container img{
  width: 100%;
  height: 100%;
}

.muffin-container p{
  text-align: center;
}

.muffin-heading{
  grid-column: 2 / span 1;
  grid-row: 1;
}

.muffin-description{
  grid-column: 2 / span 1;
  grid-row: 2;
  margin: 0 50px;
}

.muffin-image{
  grid-column: 2 / span 1;
  grid-row: 3;
  align-self: center;
}

.muffin-content{
  grid-column: 2 / span 1;
  grid-row: 4;
  margin: 0 20px;
}

.gallery{
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
   justify-content: center;
   min-height: 500px;
 }

.gallery > img{
   margin: 10px;
   width: 300px;
 }

 .gallery img{
   transition: all 0.6s ease;
 }

 .gallery img:hover{
   transform: rotateY(180deg);
 }

 .gallery img:focus{
   transition: all 0.6s ease;
 }

 .gallery img:focus{
   transform: rotateY(180deg);
 }

 .about-me-page{
   display: grid;
   grid-template-columns: 20px auto 20px;
   grid-template-rows: 30px .1fr .2fr .1fr;
   row-gap: 10px;
 }

 .about-me-header{
   grid-row: 1 / span 1;
   grid-column: 2;
 }

 .about-me-image{
   grid-row: 2 / span 1;
   grid-column: 2;
 }

 .about-me-image img{
   width: 100%;
   height: 100%;
 }

 .about-me-text{
   grid-row: 3 / span 1;
   grid-column: 2;
   margin: 10px;
 }

.mexican-annarbor-container{
   display: grid;
   grid-template-rows: 100px .2fr .2fr .2fr .2fr .2fr;
   grid-template-columns: 10px auto 10px;
   row-gap: 30px;
 }

.mexican-annarbor-container img{
  width: 50%;
  height: 50%;
  display: block;
  margin: 0 auto;
}

.mexican-annarbor-heading{
  grid-column: 2;
  grid-row: 1;
  text-aligin: center;
}

.chelas-image{
  grid-column: 2;
  grid-row: 2;
}

.chelas-text{
  grid-column: 2;
  grid-row: 3;
  margin: 0 50px;
  border: 5px solid #3A606E;
  padding: 5px;
}

.isalita-image{
  grid-column: 2;
  grid-row: 4;
}

.isalita-text{
  grid-column: 2;
  grid-row: 5;
  margin: 0 50px;
  border: 5px solid #3A606E;
  padding: 5px;
}

.breakfast-container{
  display: grid;
  grid-template-rows: 100px .2fr .2fr .2fr .2fr .2fr .2fr;
  grid-template-columns: 10px auto 10px;
  row-gap: 30px;
}

.breakfast-container img{
  width: 50%;
  height: 50%;
  display: block;
  margin: 0 auto;
}

.breakfast-madison-heading{
  grid-column: 2;
  grid-row: 1;
  text-aligin: center;
}

.breakfast-madison-heading p{
  text-aligin: center;
}


.shortstack-image{
  grid-column: 2;
  grid-row: 2;
}

.shortstack-text{
  grid-column: 2;
  grid-row: 3;
  margin: 0 50px;
  border: 5px solid #3A606E;
  padding: 5px;
}

.gotham-image{
  grid-column: 2;
  grid-row: 4;
}

.gotham-text{
  grid-column: 2;
  grid-row: 5;
  margin: 0 50px;
  border: 5px solid #3A606E;
  padding: 5px;
}

.sourdough-image{
  grid-column: 2;
  grid-row: 6;
}

.sourdough-text{
  grid-column: 2;
  grid-row: 7;
  margin: 0 50px;
  border: 5px solid #3A606E;
  padding: 5px;
}

@media screen and (min-width: 750px){
  .main{
    display: grid;
    grid-template-columns: 100px 1fr 1fr 100px;
    grid-template-rows: 1fr .2fr 1fr .2fr;
    column-gap: 45px;
    row-gap: 5px;
    width: 100%;
  }

  .main img{
    padding-top: 30px;
     width: 100%;
   }

   .breakfast-madison-image{
     grid-column: 2 / span 1;
     grid-row: 1;
   }

   .breakfast-madison-text{
     grid-column: 2 / span 1;
     grid-row: 2;
   }

   .mexican-annarbor-image{
     grid-column: 3 / span 1;
     grid-row: 1;
   }

   .mexican-annarbor-text{
     grid-column: 3 / span 1;
     grid-row: 2;
   }

   .recipe-image{
     grid-column: 2 / span 1;
     grid-row: 3;
   }

   .recipe-text{
     grid-column: 2 / span 1;
     grid-row: 4;
   }

   .muffin-image{
     display:none;
   }

   .parallax {
     display: grid;
     grid-row: 3;
     grid-column: 2;

     background-image: url('../images/muffinpan.jpg');

     height: 100%;

     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
   }
}




@media screen and (min-width: 1000px){

header{
  font-stretch: expanded;
  font-weight: bolder;
  text-transform: uppercase;
  color: #3A606E;
  font-size: 1.7em;
  margin: 20px;
  display: inline-block;

}


h1{
  font-stretch: expanded;
  font-weight: bolder;
  text-transform: uppercase;
  color: #3A606E;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

h2{
  text-transform: uppercase;
  color: black;
  margin-left: 30px;
  color: #3A606E;
}

nav{
  display: inline-block;
  position: absolute;
  right: 0;
  margin-top: 35px;
}

nav ul{
  list-style-type: none;
  text-align: end;
}

nav li{
  display: inline-block;
  padding-right: 20px;
  text-transform: lowercase;
}

.main{
  display: grid;
  grid-template-columns: 100px 1fr 1fr 1fr 100px;
  grid-template-rows: 1fr .2fr;
  column-gap: 45px;
  row-gap: 30px;
  width: 100%;
}

.main img{
  padding-top: 30px;
   width: 100%;
 }

.index-footer{
   background-color: #3A606E;
   margin: 15px -30px -100px;
   padding: 20px 40px;
   position: absolute;
   bottom: 0;
   width: 100%;
 }

.breakfast-madison-image{
  grid-column: 2 / span 1;
  grid-row: 1;
}

.breakfast-madison-text{
  grid-column: 2 / span 1;
  grid-row: 2;
}

.mexican-annarbor-image{
  grid-column: 3 / span 1;
  grid-row: 1;
}

.mexican-annarbor-text{
  grid-column: 3 / span 1;
  grid-row: 2;
}

.recipe-image{
  grid-column: 4 / span 1;
  grid-row: 1;
}

.recipe-text{
  grid-column: 4 / span 1;
  grid-row: 2;
}

.gallery{
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
   justify-content: center;
   min-height: 500px;
 }

.gallery > img{
   margin: 10px;
   width: 300px;
 }

 .about-me-page{
   display: grid;
   grid-template-columns: 150px auto auto 150px;
   grid-template-rows: auto auto;
   column-gap: 10px;
   row-gap: 30px;
 }

 .about-me-image{
   grid-row: 1;
   grid-column: 2 / span 1;
 }

 .about-me-image img{
   width: 100%;
   height: 100%;
 }

 .about-me-text{
   grid-row: 1;
   grid-column: 3 / span 1;
   align-self: center;
 }

 .h2-about{
   color: black;
   text-align: left;
   margin-left: 0;
   text-transform: none;
 }


.muffin-image{
     display:none;
   }

 .travel-container{
   display: grid;
   grid-template-columns: 100px auto auto 100px;
   grid-template-rows: auto;
   column-gap: 30px;
   justify-content: center;
 }

 .travel-container img{
    width: 100%;
    height: 100%;
 }

 .travel-container p{
    text-align: center;
 }

 .mexican-ann-arbor{
   grid-column: 2;
   grid-row: 1;
 }

 .mexican-ann-arbor img{
   width: 100%
   height:80%
   overflow: hidden;
 }

 .breakfast-madison{
   grid-column: 3;
   grid-row: 1;
 }

form{
   grid-row: 2;
   grid-column: 2 / span 2;
 }

}

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto;
  }
